.posts {
  figure {
    width: 300px;
    height: 250px;
    margin: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.footer-container{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: ".";
  margin-bottom: 40px;
  @media screen and (min-width: $medium-devices){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". ." ;
  }
  @media screen and (min-width: $extra-large-devices){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
  }
}
