#hamburger-btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  @media screen and (min-width: $medium-devices) {
    display: none;
  }
}
.toggles{
  button{
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 5px;
    background: #fff;
    &::after{
      content: ' / '
    }
    &:last-child:after{
      content: ''
    }
  }
}